<head>
    <title>Hello</title>
</head>

<body>
    <h1>Nhi Uyen</h1>
    <div>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="Post">Post</a>
    </div>
</body>
<a asp-controller="Home" asp-action="Index">Home</a>
<a asp-controller="Home" asp-action="Post">Post</a>