@{
    ViewData["Title"] = "Home Page";
}

<div id="content1" style="width: 100%;height: 600px">
    <div id="content" style="width: 80%; height: 100%; float: left;">
        <div id="content_1" style=" width: 100%; height: 350px;">
            <div id="content_11" class="maininfo" style="width: 100%; height: 100%; float: left;"></div>

        </div>
        <div class="hover15 column" style="position:relative;left:-100px">
            <div>
                <figure><img class="imgInfo" src="~/img/quan.jpg" /></figure>
                <span>
                    Mai Bá Quân
                    <br>Sở thích: Thể thao, coding
                    <br>Quan điểm sống: Không gì là không thể
                </span>
            </div>
            <div style="float:left">
                <figure><img class="imgInfo" src="~/img/phuc.jpg" /></figure>
                <span>
                    Lê Duy Phúc
                    <br>Sở thích: Cờ vua, bơi lội
                    <br>Quan điểm sống: Học, học nữa, học mãi
                </span>
            </div>
            <div style="float:left">
                <figure><img class="imgInfo" src="~/img/my2.jpg" /></figure>
                <span>
                    Nguyễn Đăng Mỹ
                    <br>Sở thích: Bóng đá,
                    <br>Quan điểm sống: Không ai tắm hai lần trên một dòng sông
                </span>
            </div>
            <div style="float:left">
                <figure><img class="imgInfo" src="~/img/uyen1.jpg" /></figure>
                <span>
                    Phan Thị Nhị Uyên
                    <br>Sở thích: Đọc sách, du lịch
                    <br>Quan điểm sống: Work hard, play hard
                </span>
            </div>
        </div>




    </div>
    <div id="right" style="width: 20%; height: 100%; float: right;">
        <div id="right_1" style="width: 100%; height: 50%;">
            <span id="text">Non sông Việt Nam có trở nên tươi đẹp hay không, dân tộc Việt Nam có bước tới đài vinh quang để sánh vai với các cường quốc năm châu được hay không, chính là nhờ một phần lớn ở công học tập của các em</span>
            <hr>
            <span><i>Thư Bác Hồ gửi học sinh - 1945</i></span>
        </div>
        <div id="right_2" style="width: 100%; height: 50%;">

        </div>

    </div>

</div>

<br />
<br />
<br />
<br />
<br />
<br />
