@model TouristMVC.ViewModels.TouristViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tạo du khách mới</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tourist.Name" class="control-label"></label>
                <input asp-for="Tourist.Name" class="form-control" />
                <span asp-validation-for="Tourist.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tourist.Tel" class="control-label"></label>
                <input asp-for="Tourist.Tel" class="form-control" />
                <span asp-validation-for="Tourist.Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tourist.Email" class="control-label"></label>
                <input asp-for="Tourist.Email" class="form-control" />
                <span asp-validation-for="Tourist.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tourist.UrlImage" class="control-label"></label>
                <input asp-for="Tourist.UrlImage" class="form-control" />
                <span asp-validation-for="Tourist.UrlImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tourist.Country.Name" class="control-label"></label>
                <select asp-for="Tourist.CountryId" asp-items="Model.Countryies" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>
@* Kiểm tra dữ liệu đầu vào, dùng ở edit và create *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
