@model TouristViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TouristViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--Thêm thẻ input type hidden (để ẩn trường này đi) (vì Id tự chọn, k cho sửa) cho Id để EDIT POST có giá trị
                Thêm method="post" cho form để thực hiện method edit POST bên Controller-->
            <input type="hidden" asp-for="Tourist.Id" />
            <div class="form-group">
                <label asp-for="Tourist.Name" class="control-label"></label>
                <input asp-for="Tourist.Name" class="form-control" />
                <span asp-validation-for="Tourist.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tourist.Tel" class="control-label"></label>
                <input asp-for="Tourist.Tel" class="form-control" />
                <span asp-validation-for="Tourist.Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tourist.Email" class="control-label"></label>
                <input asp-for="Tourist.Email" class="form-control" />
                <span asp-validation-for="Tourist.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tourist.UrlImage" class="control-label"></label>
                <input asp-for="Tourist.UrlImage" class="form-control" />
                <span asp-validation-for="Tourist.UrlImage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tourist.Country.Name" class="control-label"></label>
                <select asp-for="Tourist.CountryId" asp-items="Model.Countryies" class="form-control"> </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

