<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CaseStudy</title>
    <style>
        img.imgInfo{
            width:300px;
        }
    </style>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    @*<environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/vaothi.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/review.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/gioithieu.css" />
 
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <header>
        <div id="head" style="background-image:url(../img/bg-footer.png); width: 100%; height:110px;">
            <div id="head_1" style="width: 100%; height: 100%;">
                <div id="head_11" class="maininfo" style="width: 20%; height: 100%; float: left;">
                   
                   
                    <img src="~/img/nemo1.jpg" alt="logo" style ="width:100%;height:100%">
                </div>

                <div id="head_12" class="maininfo" style="width: 80%; height: 100%; float: left;">

                    <nav class="stroke">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">GIỚI THIỆU</a></li>
                            <li><a asp-action="CreateQuestionOfTest" asp-controller="Student" asp-route-code="1">VÀO THI</a></li>

                            <li>
                                <a asp-action="PreviewTest" asp-controller="Student" asp-route-id="1">THỐNG KÊ</a>
                            </li>
                            <li><a asp-controller="">Liên hệ mua sản phẩm</a></li>
                         


                        </ul>
                    </nav>
                </div>

            </div>
        </div>



        
    </header>
    <div class="container" style="clear:both">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

        <div class="container" style="clear:both">
            <hr />
            &copy;Bản quyền nội dung thuộc về Team Nemo - CodeGym Huế - Mọi hành vi sao chép đều không được chấp thuận</p> <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>


    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    @RenderSection("Scripts", required: false)
    
</body>
</html>
